.hocultar{
  display:none;
}
.pagina{
  padding:30px;
  margin:0px;
}
   .container{
    margin: 0px;
    padding:0px;
    background:#fff;
   }
body{
  background:#fff;
  color:#000;
}
@media print{@page {size: A4 portrait}}
