/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

html{
	  overflow-x: hidden;
}

   body{
    background:#e4e4e4;
    color: #000;
    margin: 0;
   }
   .container{
    margin-top: 50px;
    background:#fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
   }
   .hocultarstyle{
    width: 100%;
    padding: 20px;
    background:#f9f9f9;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
   }
   .pull-left{
    float: left!important;
    margin-left: 0px;
    margin-bottom: 20px;
   }
   .pull-right{
    float: right!important;
    margin-right: 0px;
    margin-bottom: 20px;
   }
   .pagina{
    padding:80px;
   }
   @media print
    only screen
     and (max-width: 760px), (min-device-width: 768px)
     and (max-device-width: 1024px)  {
       html,body{
          font-size: 9.5pt;
          padding:10px;
          width:100%;
          max-width: 950%;
          background:#000;
       }
   .container{
    margin: 0px;
    padding:0px;
    background:#fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
   }
       .page-break {
       page-break-before:always;
       width: auto;
       margin: auto;
      }
      .pagina{
        padding:0px;
      }
    .page-break{
      width: 200px;
      margin: 25px;
      border-bottom: 2px solid #eee;
    }
     .sale-head{
       margin: 10px 0;
       text-align: center;
     }.sale-head p,.sale-head strong{
       padding: 10px 20px;
       display: block;
     }.sale-head p{
       margin: 0;
       border-bottom: 1px solid #212121;
     }
  }
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
@media all {
   div.saltopagina{
      display: none;
   }
}
   
@media print{
   div.saltopagina{ 
      display:block; 
      page-break-before:always;
   }
         .pagina{
        padding:30px;
      }

/* 
header {
    position: fixed;
    top: 0;
}
footer {
    bottom: 0;
}
*/
}